<html>
<head>
	<title>Edit Courses</title>
</head>
<body>
	<h1>
		Update "<%= @updated_course.name %>" to...
	</h1>

	<form action="/courses/<%= @updated_course.id %>" method="post">
		<input type="hidden" name="_method" value="put">
		<input type="text"	id="updated_course" name="courses[name]">
		<input type="submit">
	</form>

</body>
</html>


