<html>
<head>
	<title>Add New Course</title>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="application.css">


	<form action="/courses" method="post">
		<input type="text" id="course_name" name="courses[name]" placeholder="Add Course Name">
		<input type="submit">
	</form>

</body>
</html>