<html>
<head>
	<title>Add Subject</title>
</head>
<body>
<!-- 	<link rel="stylesheet" type="text/css" href="application.css"> -->


	<form action="/subjects" method="post">
		<input type="text" id="subjects" name="subjects[name]" placeholder="Add Subject Name">
		<input type="submit">
	</form>

</body>
</html>