<div class = "professors">
	<% @professors.each do |professor| %>
	<ul>
		<li><%= professor.name %></li>
	</ul>
</div>

	<ul>
		<li><a class="btn btn-default" href= 'professors/<%= professor.id %>' role="button"> Remove Professor &raquo;</a></li>
	</ul>

	<ul>
		<li><a class="btn btn-default" href= 'professors/<%= professor.id %>/edit' role="button"> Update Professor &raquo;</a></li>
	</ul>

	<% end %>

	<ul>
		<li><a class="btn btn-default" href= 'professors/new' role="button"> Add Professor &raquo;</a></li>
	</ul>