
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico">
    <link rel="stylesheet" type="text/css" href="application.css">

    <title>Welcome to Hubblefly</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">hubbleFly</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="http://localhost:9393/hubblefly/courses">Courses</a></li>
                <li><a href="http://localhost:9393/professors">Professors</a></li>
                <li><a href="http://localhost:9393/subjects">Subjects</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Own Your Learning.</h1>
            <p class="lead">Hubblefly is a one-stop shop for creating your own independent study courses. Search subjects from your university, find a course that sounds interesting, and tweak it to fit your unique interests.</p>
            <p class="lead">
              <a href="http://localhost:9393/hubblefly/courses" class="btn btn-lg btn-default">Choose Courses</a>
            </p>
          </div>

<!--           <form class="search_form" action="/life_events/results" method="post">
					  <p>Search by:</p>
					  <select class="form-control" name="[search]type">
					    <option>Entrepreneurship></option>
					    <option>Ecotourism</option>
					    <option>Technology</option>
					    <option>Impact_Rating</option>
					    <option>Year</option>
					  </select>
					</form> -->

<!--           <div class="dropdown">
        		<a id="dropdownMenu1" href="#" role="button" class="sr-only dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		          <li class="active" role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
		          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
		          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
		          <li role="presentation" class="divider"></li>
		          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        		</ul>
      		</div> -->

          <div class="mastfoot">
            <div class="inner">
              <p>MVP for hubbleFly</p>
              <p>&copy Chris Turner</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>