	<form action="/professors/<%= @updated_professor.id %>" method="post">
		<input type="hidden" name="_method" value="put">
		<input type="text" id="updated_professor" name="professors[name]">
		<input type="submit">
	</form>