<html>
<head>
	<title>Add Professor</title>
</head>
<body>
<!-- 	<link rel="stylesheet" type="text/css" href="application.css"> -->


	<form action="/professors" method="post">
		<input type="text" id="professors" name="professors[name]" placeholder="Add Professor">
		<input type="submit">
	</form>

</body>
</html>